@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
    font-family: Raleway;
    color: white;
}

.container {
    background: #181818;
    padding: 3%;
    opacity: 26;
}

h2 {
    position: absolute;
    font-size: 20px;
    margin-top: -12px;
    display: inline-block;
    color:aliceblue;
}

hr {
    position: absolute;
    display: inline-block;
    width: 100px;
    margin-top: 1%;
    border-color: coral;
    border-radius: 20px;
}

h3 {
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 3px #1b1b1b;
    background-color: #0c0a0a;
}

h1 {
    position: absolute;
    display: inline-block;
    margin-top: 50%;
    margin-left: 36%;
    padding:5px;
    background-color: #111111;
    border-radius: 15px;
}

.card1 {
    padding: 20px;
    background: #181818;
    width: 200px;
    height: 300px;
    position: absolute;
    display: inline-block;
    margin-top: 12%;
    margin-left: 12%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 3px #0e0e0e;
}

.card1_list {
    color:#0c1412;
    margin-left: 9%;
    margin-top: 5%;
    color: white;
}

.card2_list {
    color:#0c1412;
    margin-left: 9%;
    margin-top: 5%;
    color: white;
}

.card3_list {
    color:#0c1412;
    margin-left: 9%;
    margin-top: 5%;
    color: white;
}

.wd1 {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 50px;
    margin-top: 95%;
    margin-left: -5%;
}

.wd2 {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 50px;
    margin-top: 58%;
    margin-left: -5%;
}

.wd3 {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 50px;
    margin-top: 42%;
    margin-left: -5%;
}

.card2 {
    padding: 20px;
    background: #181818;
    width: 200px;
    height: 300px;
    position: absolute;
    display: inline-block;
    margin-top: 12%;
    margin-left: 40%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 3px #0e0e0e;
}

.card3 {
    padding: 20px;
    background: #181818;
    width: 200px;
    height: 300px;
    position: absolute;
    display: inline-block;
    margin-top: 12%;
    margin-left: 70%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 3px #0e0e0e;
}

.area{
    background: #1f1f1f;  
    background: -webkit-linear-gradient(to left, #181818, #0c0c0c);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
